.features-container {
    padding: 16px;
    background-color: #fff;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    font-family:  sans-serif;
  }


  
  .features-title {
    font-size: 1.15rem;
    /* font-size: small; */
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    color: #555;
    
  }

  .feature-item:hover{
    background-color: #eee8e8; /* Change this to your desired color */
    cursor: pointer;
    
  
  }


  
  .check-icon {
    color: #28a745; /* Green color */
    font-weight: bold;
  }
  
  .toggle-button {
    color: #ff4500; /* Orange color */
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 12px;
  }
  
  .toggle-button:hover {
    text-decoration: underline;
  }
  
  .additional-features {
    margin-top: 16px;
    font-size: 0.85rem;
    color: #666;
    text-align: center;
  }
  